fastapi
uvicorn
python-dotenv
requests
pydantic

# Gemini (NEW SDK)
google-genai
python-multipart

# PDF handling
PyPDF2
PyMuPDF

# Google Cloud Vision OCR
google-cloud-vision
google-auth

# PDF report generation
reportlab
